[Desktop Entry]
Name=Developer OS Light
Comment=macOS-inspired Developer OS window decoration
X-KDE-PluginInfo-Author=Developer OS
X-KDE-PluginInfo-Name=DeveloperOS-Light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
