[SddmGreeterTheme]
Name=Developer OS
Description=Developer OS login theme
Author=Developer OS
Copyright=(c) 2026 Developer OS
License=LGPL-2.1-or-later
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Screenshot=preview.png
Theme-Id=developer-os
Theme-API=2.0
QtVersion=6
